.DS_Store
._*
*.tua
*.html
*.log
*.tuc
*.tmp
*.bak
*.bak.tex
m_k_i_v_*
*.pgf
*.synctex
*.lua
/tmp/
*.syncctx
# *.pdf # Ignoring all PDFs was too general, since many are added for figures
TheWorld-vol*.pdf
prd_volume*.pdf
chapter*.pdf
EqSheetSem1.pdf
Constraint*.pdf
Diagram*.pdf
EquationsOfMotio*.pdf
Misplace*.pdf
SolarBuli*.pdf
VirtualWor*.pdf
install.sh
/context-osx-64/modules/
texmf-cache/
