.DS_Store
._*
.tua
*.log
*.tuc
*.tmp
*.bak
*.bak.tex
m_k_i_v_*
*.pdf
*.pgf
*.synctex
/tmp/
*.syncctx
install.sh
/context-osx-64/modules
/context-osx-64/tex/texmf-cache
!PythagoreanPipesCons.pdf
!PythagoreanPipesDis.pdf
!PythagoreanPipesArrows.pdf
!PythagoreanPipesOct.pdf
!TinyPiano8th5th.pdf
!TinyPiano.pdf
!TinyPianoPtEx.pdf
!TinyPianoCompleteEq.pdf
!Copernican_heliocentrism_theory_diagram.pdf